   
/* tab */
.nav>li>a:focus, .nav>li>a:hover{background: transparent!important;}
.design-process-section .text-align-center {
    line-height: 25px;
    margin-bottom: 12px;
}
.design-process-content {
    border: 1px solid #e9e9e9;
    position: relative;
    padding: 16px 34% 30px 30px;
}
.design-process-content img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-height: 100%;
}
.design-process-content h3 {
    margin-bottom: 16px;
}
.design-process-content p {
    line-height: 26px;
    margin-bottom: 12px;
}
.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 600px;
    margin: 20px auto 26px;
    border: none;
    z-index: 0;
}
.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    right: -30px;
    top: 33px;
    width: 85%;
    z-index: -1;
}
.process-model li.visited::after {
    background: #D6DA28;
}
.process-model li:last-child::after {
    width: 0;
}
.process-model li {
    display: inline-block;
    width: 18%;
    text-align: center;
    float: none;
}
.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}
.process-model li.active,
.process-model li.visited {
    color: #D6DA28;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #D6DA28;
}
.process-model li.active p,
.process-model li.visited p {
    font-weight: 600;
    color: #D6DA28;
}
.process-model li i {
    display: block;
    height: 68px;
    width: 68px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 2px solid #e5e5e5;
    line-height: 65px;
    font-size: 30px;
    border-radius: 50%;
}
.process-model li.active i, .process-model li.visited i  {
    background: #fff;
    border-color: #D6DA28;
}
.process-model li p {
    font-size: 14px;
    margin-top: 11px;
}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
    color: #606060!important;
    font-weight: normal
}
.process-model.contact-us-tab li::after  {
    display: none; 
}
.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5; 
}



@media screen and (max-width: 560px) {
  .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}
@media screen and (max-width: 380px) { 
    .process-model.more-icon-preocess li {
        width: 16%;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }
    .more-icon-preocess.process-model li::after {
        top: 18px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }
}

.container .box {
    position:relative;

    background:#000;
  
    margin:15px;
    box-sizing:border-box;
    overflow:hidden;
    box-shadow:0 5px 10px rgba(0,0,0,.8);
}
.container .box:before {
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    box-sizing:border-box;
    transition:0.5s;
    transform: scaleX(0);
    opacity:0;
}
.container .box:hover:before {
    transform:scaleX(1);
    opacity:1;
}
.container .box:after {
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    box-sizing:border-box;
    transition:0.5s;
    transform: scaleY(0);
    opacity:0;
}
.container .box:hover:after {
    transform:scaleY(1);
    opacity:1;
}
.container .box .imgBox {
    position:relative;
}
.container .box .imgBox img {
    width:100%;
    transition:0.5s;
}
.container .box:hover .imgBox img {
    opacity:.2;
    transform:scale(1.2);
}
.container .box .content {
    position:absolute;
    width:100%;
    top:50%;
    transform:translateY(-50%);
    z-index:2;
    padding:20px;
    box-sizing:border-box;
    text-align:center;
}
.container .box .content h2 {
    margin: 0 0 10px;
    padding:0;
    color:#fff;
    transition:0.5s;
    transform:translateY(-50px);
    opacity:0;
    visibility:hidden;
}
.container .box .content p {
    margin:0;
    padding:0;
    color:#fff;
    transform:translateY(50px);
    opacity:0;
    visibility:hidden;
}
.container .box:hover .content h2,
.container .box:hover .content P {
    opacity:1;
    visibility:visible;
    transform:translateY(0px);
}


/* countdown */

/* 

.countdown {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .countdown div {
    padding: 20px;
    border: 1px #fff solid;
    border-radius: 10px;
    background: #000;
    opacity: 0.7;
    margin: 5px;
  }
  
  .countdown div:first-child {
    background: #17a2b8;
  }
  
  .countdown span {
    display: block;
    font-size: 25px;
  }
  
  @media (max-width: 650px) {
    .landing img {
      width: 70%;
    }
  
    .landing h1 {
      font-size: 40px;
    }
  
    .countdown {
      font-size: 30px;
      flex-direction: column;
    }
  
    .countdown div {
      display: none;
    }
  
    .countdown div:first-child {
      display: block;
      width: 80%;
      padding: 10px;
    }
  }
  
  
  @media (max-height: 600px) {
    img {
      width: 20%;
    }
  
    p {
      display: none;
    }
  }
  
  @media (max-height: 400px) {
     img {
      padding-bottom: 30px;
    }
    
    h1 {
      display: none;
    }
  }
     */
  
  /* other */

  @import 'https://fonts.googleapis.com/css?family=Raleway';

  @font-face {
      font-family: 'humblle_rought';
      src: url('../fonts/humblle_rought/humblle_rought_caps-webfont.woff2') format('woff2'),
           url('../fonts/humblle_rought/humblle_rought_caps-webfont.woff') format('woff'),
           url('../fonts/humblle_rought/Humblle_Rought_Caps.otf') format('otf'),
           url('..s/fonts/humblle_rought/Humblle_Rought_Caps.ttf') format('ttf');
      font-weight: normal;
      font-style: normal;
  }
     
          footer{
              padding-left: 15px;
      padding-right: 15px;
     
          }
  
          a  {
              color: #777;
              padding-left: 20px;
          }
          .zoom {
  
  
              transition: transform .2s;
              /* Animation */
  
  
          }
  
          .zoom:hover {
              transform: scale(1.1);
              /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
          }
  
      ss
  
          .fa {
              font-size: 1rem;
              padding: 5px;
              padding-left: 10px;
              /* box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1); */
          }
  
          .phones {
            color: rgba(255, 250, 250, 0.86);
            font-size: 2rem;
          }
  
          .fa-whatsapp {
            color: rgba(255, 250, 250, 0.86);
            font-size: 2rem;
          }
          .fa-envelope {
            color: rgba(255, 250, 250, 0.86);
            font-size: 2rem;
          }
          .fa-envelope :hover {
            background-color: yellow;
          }
          
  
          .fa-instagram {
            color: rgba(255, 250, 250, 0.86);
            font-size: 2rem;
          }

          .fa-arrow-circle-o-down{

           color: white;
            font-size: 2rem;

          }
          .nav-item{
              font-size: .75rem;
          }
          #demo-canvas{
      position:absolute;
      top:0;
      left:0;
  }
          .title a{font-family:"Hack","DejaVu Sans Mono","Droid Sans Mono","Menlo","Monaco","Courier New",monospace;color: #ffffff;;text-decoration:none;font-weight:100;line-height:72px}
      .title a:visited{color:#ffffff}@keyframes blink{0%{opacity:0}49%{opacity:0}50%{opacity:1}}
      .blink{animation:blink 1.5s infinite;background-color:#ffffff}.articles{margin-top:56px}