.padd-10{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
}
.border-round{
    border-radius: 10px;
}
.padd-event{
    padding-bottom: 2rem;
}
.cards{
    padding-top: 2rem;
}
.btn-pad{
    
    margin-top: 3rem;
    margin-bottom: 2rem;
    
}
.para-text{
    margin-left: 3rem;
    margin-right: 3rem;
    color: white;

}
.btn-pad1{
    
    margin-top: 1rem;
    
    
}